Enter your username and password.<br>

<form action="/auth" method="post">
  Username: <input type="text" name="uname" size="30" maxlength="20"><br>
  Password: <input type="password" name="pass" size="30" maxlength="20"><br>
  <br>
  <input type="submit" value="Login">
  <input type="reset" value="Reset">
</form>
